<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJN7UOdQdiWmx6sHVQ3GsBun--aIJt-uc</string>
	<key>GCM_SENDER_ID</key>
	<string>241279879385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zakchat</string>
	<key>PROJECT_ID</key>
	<string>zakchat-1a082</string>
	<key>STORAGE_BUCKET</key>
	<string>zakchat-1a082.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241279879385:ios:dbb5f9c393d8a0317c16c8</string>
</dict>
</plist>