<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmyB7Q-vQYMZ2HIjOG2mqQiQPc8TF8GVw</string>
	<key>GCM_SENDER_ID</key>
	<string>693024808465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zaksocial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zaksocial-56663</string>
	<key>STORAGE_BUCKET</key>
	<string>zaksocial-56663.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693024808465:ios:6e7c3ca988eeca878b5bb0</string>
</dict>
</plist>